/* src/components/PropertyTypeSelect/PropertyTypeSelect.css */
.property-type-select--container{}

.property-type-select--label{}

.property-type-select--select {
    max-width: 30ch; /* Set a maximum width for the select element */
    white-space: nowrap; /* Prevent the select element from expanding */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }

.property-type-select--option {
  white-space: normal; /* Allow the option text to wrap */
  word-wrap: break-word; /* Break words if necessary */
}