.response-pane--container {
    border: 2.5px solid var(--yellow-300);
    background-color: var(--grey-200);
    color: var(--grey-1000);
    font-size: .85rem;
}

.api-response-details--container {
}

.api-response-details--container h2 {
    margin: .125rem;
    padding: 0;
}

.api-response-details--container ul {
    list-style-type: none;
    /* Remove default bullet points */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.api-response-details--container li {
    padding: 0;
    /* Remove default padding */
    margin: .125rem;
    /* Remove default margin */
}

.api-response-details--container li {
    font-size: 1rem;
}

.pagination-btn {
    margin: .5rem;
}
