.response-pane--container {
    border: 2.5px solid var(--yellow-300);
    background-color: var(--grey-200);
    color: var(--grey-1000);
    font-size: .85rem;
}

.api-response-details--container {
}

.api-response-details--container h2 {
    margin: .125rem;
    padding: 0;
}

.api-response-details--container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.api-response-details--container li {
    padding: .125rem;
    margin: .35rem;
    border-bottom: 1px solid var(--grey-1000);
}

.api-response-details--container li {
    font-size: 1rem;
}


.record-type {
    position: relative;
    cursor: pointer;
    margin: 0 .35rem;
    color: var(--yellow-400);
}

.api-response-value{
    color: var(--yellow-400);
}

.record-type:hover::after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 100%;
    background-color: var(--grey-800);
    color: var(--white);
    padding: 0.25rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    z-index: 10;
    transform: translateY(-0.5rem);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.record-type::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    border-width: 0.5rem;
    border-style: solid;
    border-color: var(--grey-800) transparent transparent transparent;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}