.response-pane--container {
    border: 1px solid blue;
    width: 100%;
}

.api-response-details--container {
    border: 1px solid red;
}

.api-response-details--container h3 {
    margin: .125rem;
    padding: 0;
}

.api-response-details--container ul {
    list-style-type: none;
    /* Remove default bullet points */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.api-response-details--container li {
    padding: 0;
    /* Remove default padding */
    margin: .125rem;
    /* Remove default margin */
}