/* src/components/DisplayApiDataTable/DisplayApiDataTable.css */

:root {
    --table-header-bg-color: #282c34;
    --table-header-border-color: whitesmoke;
    --table-header-font-color: whitesmoke;
    --table-row-bg-color: whitesmoke;
    --table-row-border-color: #282c34;
    --table-row-font-color: #282c34;
}

.api-table--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.api-table--container h2{
    font-size: 1.5rem;
}

.api-response-details--container {
    
}

.api-response-details--container h3{
    font-size: 1.25rem;
}

.api-response-details--container li{
    font-size: 1rem;
}

.api-table-form--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-btn {
    margin: .5rem;
}

.api-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    font-size: .75rem;
    text-align: left;
    margin: 1rem 0;
    table-layout: auto;
    caption-side: top;
    empty-cells: show;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.api-table thead {
    background-color: var(--table-header-bg-color);
    color: var(--table-header-font-color);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid red;
}

.api-table tbody {
    background-color: var(--table-row-bg-color);
    color: var(--table-row-font-color);
    border: 1px solid var(--table-row-border-color);
}

.api-table th {
    padding: .125rem;
    text-align: left;
    vertical-align: top;
    /* change these below */
    white-space: normal;
    overflow: hidden;
    text-overflow: clip;
    word-break: normal;
    min-width: 10ch;
}

.api-table td {
    padding: .125rem;
    text-align: left;
    vertical-align: top;
    /* change these below */
    white-space: normal;
    overflow: hidden;
    text-overflow: clip;
    word-break: normal;
    overflow-wrap: break-word;
    /* max-width: 30ch; */
}

.api-table th {
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
}

.api-table td {
    color: #282c34;
    font-weight: normal;
    margin: .5rem;
    border: 1px solid var(--table-row-border-color);
}

/* Column specific max-widths based on character limits */
.api-table .document_id {
    max-width: 20ch;
}

.api-table .record_type {
    max-width: 3ch;
}

.api-table .party_type {
    max-width: 12ch;
}

.api-table .name {
    max-width: 70ch;
}

.api-table .address_1 {
    max-width: 60ch;
}

.api-table .address_2 {
    max-width: 60ch;
}

.api-table .country {
    max-width: 4ch;
}

.api-table .city {
    max-width: 30ch;
}

.api-table .state {
    max-width: 8ch;
}

.api-table .zip {
    max-width: 5ch;
}

.api-table .good_through_date {
    max-width: 10ch;
}

body {
    container-type: inline-size;
    container-name: sidepanel-body;
}

/* Container query for when the side panel body width is 350px or less */
@container sidepanel-body (max-width: 350px) {

    .name,
    .party_type,
    .address_1,
    .address_2,
    .city,
    .state,
    .zip,
    .country {
        display: none;
    }

    .api-table tbody {
        margin: 0 .5rem;
    }
}

/* Container query for when the side panel body width is 500px or less */
@container sidepanel-body (max-width: 500px) {

    .address_2,
    .city,
    .state,
    .zip,
    .country {
        display: none;
    }
}

/* Container query for when the side panel body width is 600px or less */
@container sidepanel-body (max-width: 650px) {

    .city,
    .state,
    .zip,
    .country {
        display: none;
    }

    .hide-when-sidepanel-is-small {
        display: none;
    }
}

/* Container query for when the side panel body width is 700px or less */
@container sidepanel-body (max-width: 700px) {

    .city,
    .state,
    .zip,
    .country {
        display: none;
    }

    .hide-when-sidepanel-is-small {
        display: none;
    }
}