/* src/components/SidepanelMenu/SidepanelMenu.css */

/* Define your colors */



* {
  -webkit-tap-highlight-color: rgba(255,
      255,
      255,
      0);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

.nav-form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(var(--blue-200), var(--blue-400));
  color: var(--nav-form-container--text);
}

.pageViewer {
  flex: 1;
  will-change: transform;
  perspective: 400px;
  overflow: hidden;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 0.25rem;
  background-color: var(--pageviewer-bg);
}

.nav {
  flex-direction: column;
  display: flex;
  /* position: relative; */
  container-name: nav__container;
}


.nav-list {
  /* ul items remove base formatting */
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: .25rem .15rem;
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  /* Remove default bullet points */
  padding: 0;
  /* Remove default */
  margin: 0;
  /* Remove default */
  font-size: inherit;
  /* Inherit  from parent */
  font-family: inherit;
  text-align: inherit;
  /* Inherit text alignment from parent */
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  margin: .1rem .1rem;
  padding: .05rem .5rem;
  border-radius: 10rem;
  font-size: 1rem;
  border: 2px solid var(--nav-item--border);
  background-color: var(--nav-item--bg);
}

.nav-list a {
  text-decoration: none;
  color: var(--link-text);
}

.nav-item:hover {
  opacity: 0.75;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.nav-icon--container {
  margin-right: .1rem;
  padding: 0;
  display: flex;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-section-name-text {
  margin: 0;
}

/* icon rules */


.nav-section-desc-text {
  display: none;
}

/* .nav-item:hover .nav-section-desc-text {
  display: block;
  position: absolute;
  background-color: var(--grey-700);
  color: var(--yellow-100);
  border: 1px solid var(--yellow-100);
  padding: 0.5rem;
  border-radius: 0.5rem;
  top: 100%;
  right: 0%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1000;
} */

.icon-information {
  display: none;
}