.icon-user,
.icon-office,
.icon-folder,
.icon-document-notes,
.icon-receipt,
.icon-library,
.icon-film,
.icon-information,
.icon-launch,
.icon-home {
    width: 1rem;
}

.icon-user .secondary,
.icon-office .primary,
.icon-folder .secondary,
.icon-document-notes .secondary,
.icon-receipt .secondary,
.icon-library .primary,
.icon-film .primary,
.icon-information .primary,
.icon-launch .primary,
.icon-home .secondary {
    fill: var(--blue-100);
}

.icon-user .primary,
.icon-office .secondary,
.icon-folder .primary,
.icon-document-notes .primary,
.icon-receipt .primary,
.icon-library .secondary,
.icon-film .secondary,
.icon-information .secondary,
.icon-launch .secondary,
.icon-home .primary {
    fill: var(--yellow-300);
}


.icon-menu{
    width: 2rem;
    cursor: pointer;
}


.icon-menu .secondary{
    fill: var(--blue-100);
}