/* src/components/PartySelect/PartySelect.css */
/* src/components/PartySelect/PartySelect.css */
.party-select-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow it to grow and take available space */
    overflow: auto; /* Make it scrollable if content overflows */
    border: 1px solid red;
    margin: 1rem;
    padding: 1rem;
}

.party-group {
    margin-bottom: 20px;
}

.mortgages-instruments{
    
}

.party-group-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.party-group-table {
    width: 100%;
    border-collapse: collapse;
}

.party-group-table > thead > tr > th {
    font-size: 1.15rem;
}

.party-group-table th,
.party-group-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.party-checkbox {
    margin: 5px;
}

.party-details {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .party-group-table .party1,
    .party-group-table .party2 {
        display: none;
    }
}