:root {
  --icon-bg-color: #A5B3BB;
  --icon-inner-color: mediumblue;
  --icon-hover-color: mediumseagreen;
}

/* CountriesCheckboxes.css */
.country-checkboxes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.country-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

/* .timestamp{
  margin-left: .5rem;
  position: relative;
} */

.country-label-and-checkbox-container {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.country-column {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.sorting-method--container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.sorting-method--label {
  margin-right: 20px;
}

/* Ensure continent label has padding and border for clarity */
.continent-label {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid red;
  padding: 5px;
}

.continent-group {
  margin-bottom: 20px;
}

/* Align checkbox input and description to the left */
.countries-checkboxes-component--container label {
  display: flex;
  align-items: center;
  /* Ensure input and text are aligned */
  gap: 0.125rem;
  /* Add space between checkbox and description */
}

/* Ensure the checkbox aligns consistently */
.countries-checkboxes-component--container label input[type="checkbox"] {
  margin-right: 10px;
  /* Ensure spacing between checkbox and label */
}

/* CountriesCheckboxes.css */

.filtering-container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filtering-container input {
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
}

/* favorite, unfavorite icon system */

.icon-add-circle,
.icon-check,
.icon-close-circle {
  cursor: pointer;
  /* fill: gray; */
  width: 1.15rem;
  margin-left: .5rem;
}

.icon-add-circle .primary,
.icon-close-circle .primary {
  fill: var(--icon-bg-color);
}

.icon-add-circle .secondary,
.icon-close-circle .secondary {
  fill: var(--icon-inner-color);
}


.icon-check .primary {
  fill: var(--icon-inner-color);
}

.icon-check .secondary {
  fill: var(--icon-bg-color);
}

.icon-add-circle .primary:hover,
.icon-check .primary:hover,
.icon-close-circle .primary:hover {
  fill: var(--icon-hover-color);
}

.icon-add-circle.active,
.icon-check.active,
.icon-close-circle.active {
  fill: var(--icon-hover-color);
}