.zip-input--container {
    display: flex;
    flex-direction: column;
}

.zip-input--label {}

.zip-input--input {
    /* width: 9ch; */
    /* Width to accommodate up to 5 characters */
    border: 1px solid var(--address-search-color);
    border-radius: 4px;
    text-transform: 'uppercase';
}

.error-msg-display{
    color: red;
    background-color: antiquewhite;
    margin: .25rem;
}