/* src/pages/Popup/Popup.css */

:root{
  --popup-color--text: orangered;
  --popup-color--border: antiquewhite;
  --popup-color--bg: rgb(13, 17, 23);
}

body{
  margin: 0;
  padding: 0;
}

#app-container{
  margin: 0;
  padding: .25rem;
  color: var(--popup-color--text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--popup-color--bg);
  height: 200px;
  width: 200px;
  border: 1px solid var(--popup-color--border);
}



