/* CHECKBOX RELATED CODE BELOW */

/* resetting the native checkbox styling BEGINS here */
:root {
    --form-control-disabled: #959495;
    --checkbox-frame-color: black;
    --checkbox-check-color: antiquewhite;
    --checkbox-focus-outline-color: orangered;
    --checkbox-label-text-color: black;
    --legend-text-color: darkred;
    --legend-background-color: var(--legend-text-color);
    
    
    --mortgages-instruments-grp-color: lightcoral;
    --ucc-fed-liens-grp-color: rgb(103, 237, 103);
    --deeds-other-conveyances-grp-color: rgb(121, 230, 230);
    --other-and-documents-grp: rgb(181, 171, 238);
    
    --toggle-background-color: lightslategrey;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background.  Removed because it interfered with the checkbox classes below */
    /* background-color: var(--legend-background-color); */


    /* Not removed via appearance */
    margin: 0;
    font: inherit;

    /* the original color was a global variable named `--checkbox-frame-color` */
    /* color: var(--checkbox-frame-color); */

    /* original width & height is 1.15em but I removed width and height rules so I could have more control over the size of regular checkboxes, controller checkboxes, party_type controller checkboxes and group controller checkboxes*/
    /* width: 1.15em;
    height: 1.15em; */

    /* original border is 0.15em solid var(--checkbox-frame-color) */
    /* border: 0.15em solid var(--checkbox-frame-color); */

    /* original border-radius is .15em */
    border-radius: 0.15em;

    /* transform: translateY(-0.075em); */

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    /* original width & height is 1.15em */
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--checkbox-check-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
    /* custom check mark shape below*/
    transform-origin: bottom left;
    /* shape of a regular CHECK within checkbox*/
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid var(--checkbox-focus-outline-color);
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

/* resetting the native checkbox styling ENDS here */

legend {
    font-weight: 600;
    font-size: .95rem;
    text-transform: lowercase; 
}

/* fieldset{
    max-width: 300px;
} */

.master-checkbox-row label {
    color: white;
}

/* MORTGAGES & INSTRUMENTS */
.mortgages-and-instruments-grp {
    border: 2px solid var(--mortgages-instruments-grp-color);
}

.mortgages-and-instruments-grp .toggle-button{
    background-color: var(--mortgages-instruments-grp-color);
    color: white;
    border: 1px solid white;
}

.mortgages-and-instruments-grp legend {
    color: var(--mortgages-instruments-grp-color);
}

.mortgages-and-instruments-grp input[type="checkbox"] {
    background-color: var(--mortgages-instruments-grp-color);
    color: black;
    /*this needs to match the border color or the checkbox will look weird*/
    border: 0.15em solid black;
}

/* More specific rule to override the above styles */
.mortgages-and-instruments-grp input[type="checkbox"].all-party1-in-group-checkbox-controller-input,
.mortgages-and-instruments-grp input[type="checkbox"].all-party2-in-group-checkbox-controller-input,
.mortgages-and-instruments-grp input[type="checkbox"].all-party3-in-group-checkbox-controller-input,
.mortgages-and-instruments-grp input[type="checkbox"].doc-group-checkbox-controller-input {
    background-color: white;
    color: var(--mortgages-instruments-grp-color);
    border: 0.15em solid black;
}

.mortgages-and-instruments-grp input[type="checkbox"].doc-group-checkbox-controller-input::before {
    width: 1.35em;
    height: 1.35em;
    box-shadow: inset 1em 1em var(--mortgages-instruments-grp-color);
}

.mortgages-and-instruments-grp input[type="checkbox"].all-party1-in-group-checkbox-controller-input::before,
.mortgages-and-instruments-grp input[type="checkbox"].all-party2-in-group-checkbox-controller-input::before,
.mortgages-and-instruments-grp input[type="checkbox"].all-party3-in-group-checkbox-controller-input::before {
    width: 1em;
    height: 1em;
    box-shadow: inset 1em 1em var(--mortgages-instruments-grp-color);
}

.mortgages-and-instruments-grp .select-all-docs-container,
.mortgages-and-instruments-grp .master-checkbox-row {
    background-color: var(--mortgages-instruments-grp-color);
    /* display: inline-block;
    justify-content: left; */
}

/* UCC AND FEDERAL LIENS */

.ucc-and-federal-liens-grp {
    border: 2px solid var(--ucc-fed-liens-grp-color);
}

.ucc-and-federal-liens-grp .toggle-button{
    background-color: var(--ucc-fed-liens-grp-color);
    color: white;
    border: 1px solid white;
}

.ucc-and-federal-liens-grp legend {
    color: var(--ucc-fed-liens-grp-color);
}

.ucc-and-federal-liens-grp input[type="checkbox"] {
    background-color: var(--ucc-fed-liens-grp-color);
    color: black;
    /*this needs to match the border color or the checkbox will look weird*/
    border: 0.15em solid black;
}

/* More specific rule to override the above styles */
.ucc-and-federal-liens-grp input[type="checkbox"].all-party1-in-group-checkbox-controller-input,
.ucc-and-federal-liens-grp input[type="checkbox"].all-party2-in-group-checkbox-controller-input,
.ucc-and-federal-liens-grp input[type="checkbox"].all-party3-in-group-checkbox-controller-input,
.ucc-and-federal-liens-grp input[type="checkbox"].doc-group-checkbox-controller-input {
    background-color: white;
    color: var(--ucc-fed-liens-grp-color);
    border: 0.15em solid black;
}

.ucc-and-federal-liens-grp input[type="checkbox"].doc-group-checkbox-controller-input::before {
    width: 1.35em;
    height: 1.35em;
    box-shadow: inset 1em 1em var(--ucc-fed-liens-grp-color);
}

.ucc-and-federal-liens-grp input[type="checkbox"].all-party1-in-group-checkbox-controller-input::before,
.ucc-and-federal-liens-grp input[type="checkbox"].all-party2-in-group-checkbox-controller-input::before,
.ucc-and-federal-liens-grp input[type="checkbox"].all-party3-in-group-checkbox-controller-input::before {
    width: 1em;
    height: 1em;
    box-shadow: inset 1em 1em var(--ucc-fed-liens-grp-color);
}

.ucc-and-federal-liens-grp .select-all-docs-container,
.ucc-and-federal-liens-grp .master-checkbox-row {
    background-color: var(--ucc-fed-liens-grp-color);
    /* display: inline-block; 
    justify-content: left;*/
}

/* DEEDS AND OTHER CONVEYANCES */

.deeds-and-other-conveyances-grp {
    border: 2px solid var(--deeds-other-conveyances-grp-color);
}

.deeds-and-other-conveyances-grp .toggle-button{
    background-color: var(--deeds-other-conveyances-grp-color);
    color: white;
    border: 1px solid white;
}

.deeds-and-other-conveyances-grp legend {
    color: var(--deeds-other-conveyances-grp-color);
}

.deeds-and-other-conveyances-grp input[type="checkbox"] {
    background-color: var(--deeds-other-conveyances-grp-color);
    color: black;
    /*this needs to match the border color or the checkbox will look weird*/
    border: 0.15em solid black;
}

/* More specific rule to override the above styles */
.deeds-and-other-conveyances-grp input[type="checkbox"].all-party1-in-group-checkbox-controller-input,
.deeds-and-other-conveyances-grp input[type="checkbox"].all-party2-in-group-checkbox-controller-input,
.deeds-and-other-conveyances-grp input[type="checkbox"].all-party3-in-group-checkbox-controller-input,
.deeds-and-other-conveyances-grp input[type="checkbox"].doc-group-checkbox-controller-input {
    background-color: white;
    color: var(--deeds-other-conveyances-grp-color);
    border: 0.15em solid black;
}

.deeds-and-other-conveyances-grp input[type="checkbox"].doc-group-checkbox-controller-input::before {
    width: 1.35em;
    height: 1.35em;
    box-shadow: inset 1em 1em var(--deeds-other-conveyances-grp-color);
}

.deeds-and-other-conveyances-grp input[type="checkbox"].all-party1-in-group-checkbox-controller-input::before,
.deeds-and-other-conveyances-grp input[type="checkbox"].all-party2-in-group-checkbox-controller-input::before,
.deeds-and-other-conveyances-grp input[type="checkbox"].all-party3-in-group-checkbox-controller-input::before {
    width: 1em;
    height: 1em;
    box-shadow: inset 1em 1em var(--deeds-other-conveyances-grp-color);
}

.deeds-and-other-conveyances-grp .select-all-docs-container,
.deeds-and-other-conveyances-grp .master-checkbox-row {
    background-color: var(--deeds-other-conveyances-grp-color);
    /* display: inline-block; 
    justify-content: left;*/
}

/* OTHER DOCUMENTS */
.other-documents-grp {
    border: 2px solid var(--other-and-documents-grp);
}

.other-documents-grp .toggle-button{
    background-color: var(--other-and-documents-grp);
    color: white;
    border: 1px solid white;
}

.other-documents-grp legend {
    color: var(--other-and-documents-grp);
}

.other-documents-grp input[type="checkbox"] {
    background-color: var(--other-and-documents-grp);
    color: black;
    /*this needs to match the border color or the checkbox will look weird*/
    border: 0.15em solid black;
}

/* More specific rule to override the above styles */
.other-documents-grp input[type="checkbox"].all-party1-in-group-checkbox-controller-input,
.other-documents-grp input[type="checkbox"].all-party2-in-group-checkbox-controller-input,
.other-documents-grp input[type="checkbox"].all-party3-in-group-checkbox-controller-input,
.other-documents-grp input[type="checkbox"].doc-group-checkbox-controller-input {
    background-color: white;
    color: var(--other-and-documents-grp);
    border: 0.15em solid black;
}

.other-documents-grp input[type="checkbox"].doc-group-checkbox-controller-input::before {
    width: 1.35em;
    height: 1.35em;
    box-shadow: inset 1em 1em var(--other-and-documents-grp);
}

.other-documents-grp input[type="checkbox"].all-party1-in-group-checkbox-controller-input::before,
.other-documents-grp input[type="checkbox"].all-party2-in-group-checkbox-controller-input::before,
.other-documents-grp input[type="checkbox"].all-party3-in-group-checkbox-controller-input::before {
    width: 1em;
    height: 1em;
    box-shadow: inset 1em 1em var(--other-and-documents-grp);
}

.other-documents-grp .select-all-docs-container,
.other-documents-grp .master-checkbox-row {
    background-color: var(--other-and-documents-grp);
    /* display: inline-block; 
    justify-content: left;*/
}

.not-applicable {
    color: red;
    font-weight: 800;
}

/* END OF COLOR SECTION */


.fieldset-toolbar{
    border: 1.5px solid whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* align-items: center;  */
}

.select-all-docs-container {
    display: grid;
    justify-content: left;
}



.doc-and-party-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    justify-content: right;
}


.master-checkbox-row {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: right;
    flex-direction: row;
    font-size: 1.15rem;
    font-weight: bold;
}

/* custom styling BEGINS here */

.custom-checkbox-label {
    font-family: system-ui, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.1;

    display: grid;
    grid-template-columns: 1em auto;
    /* gap: 0.5em; */
    /* color: var(--checkbox-label-text-color); */
}

.doc-group-checkbox-controller-label {
    display: flex;
    gap: .5em;
    margin: .4rem;
    align-items: center;
    color: white;
    flex: 0 1 auto; /* Take up the minimum amount of space */
    white-space: normal; /* Allow text to wrap */
}

.doc-group-checkbox-controller-input {
    width: 2em;
    height: 2em;
}

.all-party1-in-group-checkbox-controller-label,
.all-party2-in-group-checkbox-controller-label,
.all-party3-in-group-checkbox-controller-label {
    gap: 1.25em;
    margin: .25em;
    align-items: center;
}

.all-party1-in-group-checkbox-controller-input,
.all-party2-in-group-checkbox-controller-input,
.all-party3-in-group-checkbox-controller-input {
    width: 1.65em;
    height: 1.65em;
}

.doc-type-with-parties-checkbox-controller-label {
    gap: .75em;
}

.doc-type-with-parties-checkbox-controller-input {
    width: 1.5em;
    height: 1.5em;
}

.mortgages-and-instruments-grp input[type="checkbox"].doc-type-with-parties-checkbox-controller-input::before,
.ucc-and-federal-liens-grp input[type="checkbox"].doc-type-with-parties-checkbox-controller-input::before,
.deeds-and-other-conveyances-grp input[type="checkbox"].doc-type-with-parties-checkbox-controller-input::before,
.other-documents-grp input[type="checkbox"].doc-type-with-parties-checkbox-controller-input::before {
    width: .9em;
    height: .9em;
    box-shadow: inset 1em 1em white;
}

.party1-type-checkbox-controlled-label,
.party2-type-checkbox-controlled-label,
.party3-type-checkbox-controlled-label {
    gap: 0.5em;
    /* border: 1px solid darkgoldenrod; */
}

.party-type-checkbox-controlled-label-text {
    display: block;
    /* border: 1px solid black; */
}

.party1-type-checkbox-controlled-input,
.party2-type-checkbox-controlled-input,
.party3-type-checkbox-controlled-input {
    width: 1.15em;
    height: 1.15em;
}

.checkbox-controller-label {
    width: 150px;
    /* Set an appropriate max-width */
    word-wrap: break-word;
    /* Allow text to wrap onto the next line */
    white-space: normal;
    /* Allow normal text wrapping */
    font-size: 0.9rem;
}

.checkbox-controlled-label {
    width: 150px;
    /* Set an appropriate max-width */
    word-wrap: break-word;
    /* Allow text to wrap onto the next line */
    white-space: normal;
    /* Allow normal text wrapping */
    font-size: 0.75rem;
}

.placehold-for-missing-checkbox {
    color: orangered;
}
/* custom styling ENDS here */

/* TOGGLE CHECKBOX BUTTONS BY GROUP */
.party-group {
    position: relative;
    margin: 1rem .25rem;
}

.toggle-button {
    width: 50px;
    position: relative;
    align-self:right;
    /* background-color: #f0f0f0; */
    
    padding: 5px 5px;
    cursor: pointer;
    /* align-self: flex-end;  */
}

.toggle-button:hover{
    background-color: var(--toggle-background-color);
}

.fieldset-content {
    margin-top: 1rem;
}

/* TOGGLE CHECKBOX BUTTONS BY GROUP */

/* Make the body element behave like a container */
body {
    container-type: inline-size;
    container-name: sidepanel-body;
}

/* Default layout for larger side panels */
.doc-and-party-container {
    display: flex;
    /* Default layout */
    flex-wrap: wrap;
}

/* Container query for when the side panel body width is 350px or less */
@container sidepanel-body (max-width: 350px) {
    .doc-and-party-container {
        display: grid;
        grid-template-rows: auto auto;
        /* Two rows */
        grid-gap: .25em;
        /* Optional gap between rows */
        border: 1.75px solid whitesmoke;
        border-radius: 5px;
        padding: .125em;
        /* width: 300px; */
    }

    /* First row: the doc-type label */
    .doc-type-with-parties-checkbox-controller-label {
        grid-row: 1 / 2;

    }

    /* Second row: party labels inline */
    .party1-type-checkbox-controlled-label,
    .party2-type-checkbox-controlled-label,
    .party3-type-checkbox-controlled-label {
        grid-row: 2 / 3;
        display: grid;
        width: 100%;
    }

    .hide-when-sidepanel-is-small {
        display: none;
    }
}