/* src/components/PartyNameSearch/PartyNameSearch.css */

:root{
  --party-name-color: orangered;
}

body{
  margin: 0;
  padding: .4rem;
}

.party-name-search-container{
    border: 2px solid var(--party-name-color);
    margin: .5rem;
    padding: 1rem;
    width: 100%;
}

.party-name-search-legend{
  color: var(--party-name-color); 
  font-weight: bold;
}

.initial-query{
    border: 1px solid green;
    margin: 1rem;
}

.formatted-query-container {
    display: inline-flex;
    align-items: center;
    margin: 1rem;
    border: 1px solid lightblue;
  }
  
  .formatted-query-label {
    /* margin-right: 5px; */
    font-weight: bold;
  }
  
  .formatted-query {
    margin: 1rem;
  }
  
  .formatted-query-container button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
  }

  .formatted-boolean-container {
    display: inline-flex;
    align-items: center;
    margin: 1rem;
    border: 1px solid yellow;
  }
  
  .formatted-boolean-label {
    /* margin-right: 5px; */
    font-weight: bold;
  }
  
  .formatted-boolean {
    /* margin-right: 10px; */
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }