.resize-sidepanel-tooltip--container{
    display: flex;
    flex-direction: row;

    display: none;
    position: absolute;
    right: 0;
    background-color: mediumseagreen;
    width: 100%;
    z-index: 1;
}

.resize-btn{
    width: 1rem;
}