/* .tax-lot-input--container {
    display: flex;
    flex-direction: column;
}

.tax-lot-input--label {}

.tax-lot-input--input {
    border: 1px solid var(--address-search-color);
    border-radius: 4px;
}

.error-msg-display{
    color: red;
    background-color: antiquewhite;
    margin: .25rem;
} */