/* src/components/PartyNameSearch/PartyNameSearch.css */

:root {
  --address-search-color: lightblue;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.address-search-container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--address-search-color);
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.address-search-container--legend {
  color: var(--address-search-color);
  font-weight: bold;
  font-size: 1.25rem;
}

.bbl-container,
.street-address-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem;
  border: 1px solid var(--address-search-color);
  width: 50%;
}

.tax-block-input--input,
.tax-lot-input--input {
  width: 10ch;
  /* Width to accommodate up to 4 characters */
  border: 1px solid var(--address-search-color);
  border-radius: 4px;
}

.bbl-legend,
.street-address-legend {
  color: var(--address-search-color);
  font-weight: bold;
  font-size: 1rem;
}

.street-number-input--input {
  width: 12ch;
  border: 1px solid var(--address-search-color);
  border-radius: 4px;
}

.street-name-input--input {
  width: 32ch;
  border: 1px solid var(--address-search-color);
  border-radius: 4px;
}

.street-unit-input--input {
  width: 7ch;
  border: 1px solid var(--address-search-color);
  border-radius: 4px;
}


.air-rights-select--container,
.subterranean-rights-select--container,
.partial-lot-select--container,
.easement-select--container {
  margin: 0 1rem;
}

.property-type-select-checkbox-container{
  margin: 1rem;
}