/* src/components/PartyNameSearch/PartyNameSearch.css */

:root {
  --address-search-color: lightblue;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bbl-street-address--container,
.easement-partialLot--container,
.airRights-subRights--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-search--container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--address-search-color);
  margin: 0;
  padding: 0;
  /* width: 100%; */
}

.address-search--legend {
  color: var(--address-search-color);
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 3rem;
  padding: 0;
}

.bbl-container,
.street-address-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin: 1rem; */
  border: 1px solid var(--address-search-color);
}


.bbl-legend,
.street-address-legend {
  color: var(--address-search-color);
  font-weight: bold;
  font-size: 1rem;
}



.property-type-select-checkbox-container {
}

/* Container query for states-columns--container */
@container (min-width: 540px) {
  .bbl-street-address--container {
    flex-direction: row;
  }
}