/* src/components/PartyNameSearch/PartyNameSearch.css */

:root {
  --address-search-color: lightblue;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-search-container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--address-search-color);
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.address-search-container--legend {
  color: var(--address-search-color);
  font-weight: bold;
  font-size: 1.25rem;
}

.bbl-container,
.street-address-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem;
  border: 1px solid var(--address-search-color);
  width: 50%;
}


.bbl-legend,
.street-address-legend {
  color: var(--address-search-color);
  font-weight: bold;
  font-size: 1rem;
}



.property-type-select-checkbox-container {
  margin: 1rem;
}