.street-number-input--container {
    display: flex;
    flex-direction: column;
}

.street-number-input--label {}

.street-number-input--input {
    /* width: 12ch; */
    border: 1px solid var(--address-search-color);
    border-radius: 4px;
    text-transform: 'uppercase'
}

.error-msg-display{
    color: red;
    background-color: antiquewhite;
    margin: .25rem;
}