/* src/components/StatesCheckboxes/StatesCheckboxes.css */
:root {
  --icon-bg-color: #A5B3BB;
  --icon-inner-color: mediumblue;
  --icon-hover-color: mediumseagreen;
}

.states-checkboxes-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1px solid yellow; */
  }
  
  .states-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    /* border: 1px solid red; */
  }
  
  .state-label-and-checkbox-container {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .states-column {
    display: flex;
    flex-direction: column;
    /* border: 1px solid lightcyan; */
  }
  
  .armed-forces-column {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
  }
  
  /* favorite, unfavorite icon system */

.icon-add-circle,
.icon-check,
.icon-close-circle {
  cursor: pointer;
  /* fill: gray; */
  width: 1.15rem;
  margin-left: .5rem;
}

.icon-add-circle .primary,
.icon-close-circle .primary {
  fill: var(--icon-bg-color);
}

.icon-add-circle .secondary,
.icon-close-circle .secondary {
  fill: var(--icon-inner-color);
}


.icon-check .primary {
  fill: var(--icon-inner-color);
}

.icon-check .secondary {
  fill: var(--icon-bg-color);
}

.icon-add-circle .primary:hover,
.icon-check .primary:hover,
.icon-close-circle .primary:hover {
  fill: var(--icon-hover-color);
}

.icon-add-circle.active,
.icon-check.active,
.icon-close-circle.active {
  fill: var(--icon-hover-color);
}