.local-storage-icon--container{
    position: relative;
    display: inline-flex;
}

.icon-add-square {
    width: 1.25rem;    
    cursor: pointer;
}

.icon-add-square .primary {
    fill: var(--blue-500);
}

.icon-add-square .secondary {
    fill: var(--yellow-700);
}

.icon-add-square .secondary--added {
    fill: var(--accent-success);
}

.icon-add-square .secondary--warning {
    fill: var(--red-500);
}


.local-storage-icon--container .hover-message--container {
    visibility: visible;
    /* background-color: var(--blue-500); */
    /* color: var(--yellow-700); */
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position above the icon */
    left: 5%;
    transform: translateX(-50%);
    white-space: wrap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200%;
    display: absolute;
}

.local-storage-icon--container .hover-message--container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--blue-500) transparent transparent transparent;
    max-width: 100%;
}


/* Styles for hover message when adding */
.local-storage-icon--container .hover-message-add {
    background-color: var(--blue-700);
    color: var(--blue-100);
    border: 2.5px solid var(--blue-100);
}

.local-storage-icon--container .hover-message-add::after {
    border-color: var(--blue-100) transparent transparent transparent;
}

/* Styles for hover message when removing */
.local-storage-icon--container .hover-message-remove {
    background-color: var(--red-700);
    color: var(--red-100);
    border: 2.5px solid var(--red-100);
}

.local-storage-icon--container .hover-message-remove::after {
    border-color: var(--red-100) transparent transparent transparent;
}