/* src/components/PartyNameSearch/PartyNameSearch.css */

:root {
    --doc-type-search-color: darkslateblue;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .doc-type-search--container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--doc-type-search-color);
    margin: 1rem;
    padding: 1rem;
    width: 100%;
  }
  
  .doc-type-search--legend {
    color: var(--doc-type-search-color);
    font-weight: bold;
    font-size: 1.25rem;
  }
