html {
  /* FYI, this sets what "1rem" is equal to so the rule `font-size: 16px` sets "1rem" to 16px. */
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background, var(--color-background));
  color: var(--color-text, var(--color-text));

}

header,
main {
  /* min-width: 343px;
  max-width: 380px;
  padding: .35rem; */
  max-width: 100%;
  /* margin: 1rem auto; */
}

form.custom-form--container{
  min-width: 343px;
  max-width: 800px;
  padding: .35rem;
}