.copy-to-clipboard-icon--container{
    position: relative;
    display: inline-flex;
}

.icon-duplicate {
    width: 1.25rem;    
    cursor: pointer;
}

.icon-duplicate .primary {
    fill: var(--blue-500);
}

.icon-duplicate .secondary {
    fill: var(--yellow-700);
}

.copy-to-clipboard-icon--container .hover-message {
    visibility: visible;
    background-color: var(--blue-500);
    color: var(--yellow-700);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position above the icon */
    left: 5%;
    transform: translateX(-50%);
    white-space: wrap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200%;
    display: absolute;
}

.copy-to-clipboard-icon--container .hover-message::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--blue-500) transparent transparent transparent;
    max-width: 100%;
}
